.plansScreen {
  padding-top: 1rem;
}

.plansScreen__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.6rem;
}

.plansScreen__plan:hover {
  cursor: pointer;
  background-color: gray;
}

.plansScreen__plan > h3 {
  font-weight: 400;
}
